body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgb(254, 253, 208) 0%, rgb(206, 144, 220) 30%, rgb(106, 110, 158) 60%, rgb(64, 58, 126) 100%);
    min-height: 100vh;
}